<footer>
	<div class="content">
		<div class="panel three-up">
			<h5>Navigate</h5>
			<ul>
				<li><%=link_to "Home", root_path %></li>
				<li><%=link_to "About", static_path('about') %></li>
				<li><%=link_to "Our Team", static_path('leadership') %></li>
				<li><%=link_to "Contact", static_path('contact') %></li>
			</ul>
			<ul>
				<li><%=link_to "Code of Conduct", static_path('code-of-conduct') %></li>
				<li><%=link_to "Github Team", "https://github.com/codeforgso" %></li>
				<li><%=link_to "Slack", "http://slack.codeforgreensboro.org" %></li>
				<li><%=link_to "Twitter", "http://www.twitter.com/codeforgso" %></li>

			</ul>
		</div>
		<div class="panel three-up">
			<h5>Join Our List</h5>
			<p>Join the Code for Greensboro mail list by <%=link_to "clicking here", "http://eepurl.com/bhmp71" %>. We only email periodically, and we promise not to spam you.</p>
		</div>
		<div class="panel three-up">
			<h5>Give us Feedback</h5>
			<p>If you'd like to update us on your interest in joining the brigade, you can fill out our <%=link_to "community survey here", "http://goo.gl/forms/wk3loDQtp9" %>.</p>
		</div>
	</div>
	<div class="content">
		<p class="small">&copy; 2015 Code for Greensboro</p>
	</div>
</footer>
