
<header class="navigation" id="desktop">
	<ul class="nav">
		<li class="home-button">
			<%=link_to root_path do %>
				<%=image_tag "logo.png", width: "140px" %>
			<% end %>
		</li>
		<li><%=link_to "Home", root_path %></li>
		<li><%=link_to "About", static_path('about') %></li>
		<li><%=link_to "Our Team", static_path('leadership') %></li>
		<!-- <li><%=link_to "Blog", "http://blog.codeforgreensboro.org" %></li> -->
		<li><%=link_to "Contact Us", static_path('contact') %></li>
		<li><%=link_to "Civicon15", "http://hackathon.codeforgreensboro.org" %></li>
	</ul>
</header>
