<%= content_for :page_title, 'Summer 2015 Hackathon' %>

<header class="internal">
	<div class="content">
		<h2 class="darken"><%= yield :page_title %></h2>
	</div>
</header>

<div class="content">
	<div class="leftcolumn">
		<h3>This summer, Greensboro will have its very first civic hackathon. And we want you to be there.</h3>

		<h5>
			What is this thing?
		</h5>

		<p>
			June 6, 2015 is the <%= link_to "National Day Of Civic Hacking", "http://hackforchange.org" %>, and we'll be celebrating with a hackathon. What can we do when we put all of Greensboro's most passionate developers, designers, data junkies, policy wonks, community organizers and engaged citizens in one place for a day? A lot, that's what. Join us as we identify civic problems, build solutions that use real data to solve those problems, and have an amazing time doing it.
		</p>
		
		<p>
			Bring your laptop, an open mind, and your best ideas. We'll bring the data, a love for Greensboro and all it can be, and some pioneering spirit to share.
		</p>

		<p>
			This event is <em><%= link_to "huge", "https://www.whitehouse.gov/blog/2015/05/12/save-date-national-day-civic-hacking-coming-june-6" %></em>, and we're incredibly excited to take part. We'll be working together on some of the <%= link_to "challenges", "http://hackforchange.org/challenges/"%> outlined by Code for America, as well as independent projects&mdash;maybe even something you bring with you.
		</p>

		<h5>
			When and Where?
		</h5>

		<p>
			This summer we'll be at Co//ab, a co-working and entrepreneurship space in Greensboro.
		</p>
		<ul>
			<li>Co//ab</li>
			<li>229 N. Greene St.</li>
			<li>Greensboro, NC 27401</li>
			<li>June 6, 2015 from 10 AM</li>
			<li>June 7, 2015 from 10 AM</li>
		</ul>

		</br>

		<h5>
			What else do I need to know?
		</h5>

		<p>
			We'll have caffeine (and non-caffeine), food, schwag from our sponsors and blazing fast gigabit internet from our friends at North State.
		</p>

		<h3>
			Saturday
		</h3>

		<p>
			We'll meet up and break into groups and begin working on projects. Bring your laptop and/or your tools of choice (UI stencils, pads, pens, art supplies, etc.) Offer your services to a group, head a project, or learn a new skill or framework. Do research. Learn about your city from the inside out.
		</p>

		<h3>
			Sunday
		</h3>

		<p>
			Sunday we'll convene again to take stock of what we've created. By then, we hope you'll have learned some new things and made some new friends.
		</p>

		<h5>
			Where can I register (and what will it cost?)
		</h5>

		<p>
		<%= link_to "Register here", "http://www.eventbrite.com/e/code-for-greensboro-civic-hackathon-2015-tickets-16804960088?aff=eac2" %> for admission. And the cost is <strong>free</strong>!
		</p>
		</div>
		<aside class="sidebar">
			<%= image_tag "hackathon-logo.jpg" %>

			<div class="register">
				<a href="http://www.eventbrite.com/e/code-for-greensboro-civic-hackathon-2015-tickets-16804960088?ref=ebtnebregn" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=16804960088" alt="Eventbrite - Code for Greensboro Civic Hackathon 2015" /></a>
			</div>
		</aside>
</div>
