<%= content_for :page_title, 'Home' %>

<section class="hero">
	<div class="content">
		<h1 class="xl">
			Leveraging open civic data and technology to improve access to local government, and community services.
		</h1>
		<!-- <h4 class="brighten">Join us at the Boxcar Arcade for our first fundraising event! <%=link_to "February 15", "https://www.meetup.com/Code-for-Greensboro/events/237326815/", :class => "special_snowflake" %></h4> -->
		<!-- <h4 class="brighten">Join us for the National Day of Civic Hacking at Co//ab on <%=link_to "September 23", "https://www.meetup.com/Code-for-Greensboro/events/242578748/", :class => "special_snowflake" %></h4> -->
		<!-- <h4 class="brighten">We will be hacking on the <%=link_to "GoVoteGSO", "http://govotegso.org", :class => "special_snowflake"%> project and learning about our local elections coming up!</h4> -->
		<!-- <h4 class="brighten">Register for our Data 101 course that begins <%=link_to "July 9th", "https://www.eventbrite.com/e/data-101-tickets-26130225207?aff=es2", :class => "special_snowflake" %></h4> -->
	</div>
</section>

<div class="content">
	<h3 class="is-centered">
		Code for Greensboro works to improve the way our community uses its data and the web. And we need you&mdash;no coding required.
	</h3>

</div>

<%= @events %>

<section class="top-deck">
	<div class="content">
		<div class="panel two-up">
			<h4 class="blue">What We Do</h4>
			<p>
				We are a local 501(c)(3) organization affiliated with the Code for America Brigade program. Code for America brigades are volunteer civic tech communities that collaborate with local government and community partners to build open source technology tools that help with local civic issues. Code for America supports Brigade chapters with resources, tools, and access to the wider civic technology movement.
			</p>
		</div>

		<div class="panel two-up">
			<h4 class="blue">Who We Are</h4>
			<p>
				We are developers, designers, data nerds, politically-minded people with ideas for making things better, citizens, users of software&mdash;in other words, we are this community. We want to use these talents to help local government, and the community work with the web in new and efficient ways.
			</p>
		</div>
	</div>
</section>

<section class="calls">
	<div class="content">

		<div class="panel two-up">
			<h4>Hack Night</h4>
      <!-- <p><%=link_to "Join us", "https://www.meetup.com/Code-for-Greensboro/events/237326815/" %> at The Boxcar Arcade, 120 W Lewis Street. Our next meetup is our first fundraising event! February 15, 2016</p> -->
      <p><%=link_to "Join us", "https://www.eventbrite.com/e/guilford-community-indicators-event-tickets-36880379207" %> at HQ Greensboro, 111 W Lewis Street. Next meeting: August 23, 2017</p>
			<!-- <p><%=link_to "Join us", "http://www.meetup.com/Code-for-Greensboro/" %> at Co//ab, 229 N. Greene Street. Next meetup: May 18th, 2016</p> -->
		</div>

		<!-- <div class="panel four-up">
			<h4>Blog anyone?</h4>
			<p>Keep up with the Code for Greensboro <%=link_to "blog", "http://blog.codeforgreensboro.org" %> to learn more about what we do.</p>
		</div> -->

		<!-- <div class="panel three-up">
			<h4>Slack With Us</h4>
			<p>Join the Code for Greensboro <%=link_to "Slack channel", "http://slack.codeforgreensboro.org" %> to talk to us about ideas or say hello.</p>
		</div> -->
		<!-- <div class="panel four-up">
			<h4>Slack With Us</h4>
			<p>Join the Code for Greensboro <%=link_to "Slack team", "http://blog.codeforgreensboro.org/signing-up-for-slack/" %> to talk to us about ideas, collaborate on projects, or say hello.</p>
		</div> -->

		<div class="panel two-up">
			<h4>Meetup Group</h4>
			<p><%=link_to "Join our Meetup group", "http://www.meetup.com/Code-for-Greensboro" %> to be notified of new events and happenings.</p>
		</div>

	</div>
</section>
