<%= content_for :page_title, 'Leadership Team' %>

<div class="content">

	<div class="card">
		<div class="portrait">
			<%=image_tag "ac.jpg" %>
		</div>
		<h4>Anita Cafiero</h4>
		<h5>Co-Captain</h5>
		<p class="is-centered">
			<%=mail_to "anita@codeforgreensboro.org", "anita@codeforgreensboro.org" %>
		</p>
		</p>
	</div>

	<div class="card">
		<div class="portrait">
			<%=image_tag "nj.jpg" %>
		</div>
		<h4>Nick Jones</h4>
		<h5>Co-Captain</h5>
		<p class="is-centered">
			<%=mail_to "nick@codeforgreensboro.org","nick@codeforgreensboro.org" %>
		</p>
	</div>

	<div class="card">
		<div class="portrait">
			<%=image_tag "jm.jpg" %>
		</div>
		<h4>Jason Marshall</h4>
		<h5>Data Wrangler</h5>
		<p class="is-centered">
			<%=mail_to "jason@codeforgreensboro.org","jason@codeforgreensboro.org" %>
		</p>
	</div>

	<div class="card">
		<div class="portrait">
			<%=image_tag "rz.png" %>
		</div>
		<h4>Rob Zimmerman</h4>
		<h5>Developer Evangelist</h5>
		<p class="is-centered">
			<%=mail_to "rob@codeforgreensboro.org","rob@codeforgreensboro.org" %>
		</p>
	</div>

	<div class="card">
		<div class="portrait">
			<%=image_tag "jmo.jpg" %>
		</div>
		<h4>John Moore</h4>
		<h5>Storyteller</h5>
		<p class="is-centered">
			<%=mail_to "john.m@codeforgreensboro.org","john.m@codeforgreensboro.org" %>
		</p>
	</div>

	<div class="card">
		<div class="portrait">
			<%=image_tag "sm.jpg" %>
		</div>
		<h4>Sagar Mishra</h4>
		<h5>Community Organizer</h5>
		<p class="is-centered">
			<%=mail_to "sagar@codeforgreensboro.org","sagar@codeforgreensboro.org" %>
		</p>
	</div>

	<div class="card">
		<div class="portrait">
			<%=image_tag "wj.jpg" %>
		</div>
		<h4>Walter Jenkins</h4>
		<h5>Nonprofit / Community Group Liaison</h5>
		<p class="is-centered">
			<%=mail_to "walter@codeforgreensboro.org","walter@codeforgreensboro.org" %>
		</p>
	</div>


</div>
