<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %> | Code For Greensboro</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="internal">

<%= render "shared/navigation" %>

<header class="internal">
	<div class="content">
		<h2 class="darken"><%= yield :page_title %></h2>
	</div>
</header>

<% if content_for?(:page_image) %>
  <section class="wide-image">
    <%= image_tag yield :page_image %>
  </section>
<% end %>


<div class="content">
	<%= yield %>
</div>

<%= render "shared/footer" %>

</body>
</html>
